body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #202225;
    color: #fff;
}

.chat-container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #2f3136;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-right: 1px solid #1e1f22;
}

.profile-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 42px;
    height: 42px;
    background: #444;
    border-radius: 50%;
}

.profile-info {
    margin-left: 10px;
}

.profile-info span {
    color: #ddd;
}

.sidebar-title {
    margin: 15px 0 5px;
    color: #999;
    font-size: 14px;
}

.conversation-list {
    flex: 1;
    overflow-y: auto;
}

.conversation-item {
    padding: 12px;
    border-radius: 8px;
    background: #36393f;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.conversation-item:hover {
    background: #3b3f45;
}

.active-chat {
    background: #4752c4 !important;
}

.start-chat-btn,
.logout-btn {
    width: 100%;
    padding: 12px;
    background: #5865f2;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.logout-btn {
    background: #ff5555;
}

.start-chat-btn:hover {
    background: #4752c4;
}

.logout-btn:hover {
    background: #cc4444;
}

/* CHAT PANEL */
.chat-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #36393f;
}

.chat-header {
    padding: 15px;
    background: #2f3136;
    border-bottom: 1px solid #1e1f22;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.bubble {
    max-width:25%  ;
    padding: 10px 14px;
    margin-bottom: 12px;
    border-radius: 12px;
    font-size: 15px;
}

.me {
    background: #5865f2;
    align-self: flex-end;
}

.them {
    background: #72767d;
    align-self: flex-start;
}

.message-input-area {
    padding: 12px;
    display: flex;
    background: #2f3136;
    border-top: 1px solid #1e1f22;
}

#messageInput {
    flex: 1;
    padding: 12px;
    background: #202225;
    border: 1px solid #444;
    border-radius: 6px;
    color: #fff;
}

.send-btn {
    margin-left: 10px;
    padding: 12px 18px;
    background: #5865f2;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.send-btn:hover {
    background: #4752c4;
}
.tick {
    font-size: 14px;
    margin-left: 6px;
    display: inline-block;
}

/* sent (one check) */
.tick.sent {
    color: #ccc; /* light grey */
}

/* delivered but not read */
.tick.delivered {
    color: #00b2ff; /* light blue */
}

/* fully read */
.tick.read {
    color: #4fd84f; /* green */
}
