body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

#chat-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#chat-header {
    background: #4287f5;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messages-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #eef1f5;
}

.bubble {
    padding: 10px 14px;
    margin-bottom: 10px;
    max-width: 70%;
    border-radius: 12px;
}

.bubble.me {
    background: #4287f5;
    color: white;
    margin-left: auto;
}

.bubble.them {
    background: white;
    border: 1px solid #ccc;
}

#input-area {
    display: flex;
    padding: 10px;
    background: white;
    border-top: 1px solid #ddd;
}

#input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

#input-area button {
    margin-left: 10px;
    padding: 12px 18px;
    border: none;
    background: #4287f5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
#header-buttons {
    display: flex;
    gap: 10px;
}

.header-btn {
    padding: 7px 14px;
    border: none;
    background: #ffffff33;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.header-btn:hover {
    background: #ffffff55;
}
